%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    %span Firstname
    = f.text_field :firstname, autofocus: true, autocomplete: "lastname"
  .field
    %span Lastname
    = f.text_field :lastname, autofocus: true, autocomplete: "lastname"
  .field
    %span Username
    = f.text_field :username, autofocus: true, autocomplete: "username"
  .field
    %span Email
    = f.email_field :email, autofocus: true, autocomplete: "email"

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    %span Password
    %i (leave blank if you don't want to change it)
    - if @minimum_password_length

      %em
        = @minimum_password_length
        characters minimum
    = f.password_field :password, autocomplete: "new-password"

  .field
    %span Password Confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    %span Current Password 
    %i (we need your current password to confirm your changes)
    = f.password_field :current_password, autocomplete: "current-password"
  .actions
    = f.submit "Update"
%h3 Delete my account
%p
  #{button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", user_path(current_user)
