.signup-body
  .title
    Edit Profile
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signup" }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-parts
      %span First Name
      = f.text_field :firstname, autofocus: true, autocomplete: "lastname", class: "fields"
    .form-parts
      %span Last Name
      = f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: "fields"
    .form-parts
      %span Username
      = f.text_field :username, autofocus: true, autocomplete: "username", class: "fields"
    .form-parts
      %span Email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "fields"
    .form-parts
      %span 
        Password
        %i (leave blank if you don't want to change it)
      - if @minimum_password_length
        (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "new-password", class: "fields"
    .form-parts
      %span Password Confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "fields"
    .form-parts
      %span Current Password 
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "current-password", class: "fields"
    .actions-signup
      = f.submit "Update", class:"button"
  .links-signup
    = link_to "Back", user_path(current_user), class: "links" 
