============================================
.post-field 
  %writter
    by: 
    %strong
      = link_to CheckRetweet.new(posts).get_user.username, user_path(CheckRetweet.new(posts).get_user)
      >>>>
  .message
    = raw posts.message
  .reposting 
    = link_to user_post_repost_path(current_user, posts), method: :patch do
      - if posts.retwit_id == nil && current_user.posts.find_by(retwit_id: posts.id) == nil
        Retweet
      - else 
        Unretweet
  .action
    = link_to 'Show', user_post_path(posts.user, posts)
    - if posts.user == current_user
      = link_to 'Delete', user_post_path(posts.user, posts), method: :delete
  - if CheckRetweet.new(posts).is_a_retweet?
    %strong
      Retweeted by: 
      = posts.user.username 
    


