- if @last_page > 1
  .pages
    - if @page != 0
      = link_to '< Back', root_path(page: @page - 1)
    - if @page - 2 > -1 
      = link_to 1, root_path
      %span ... 
    - if @page == @last_page - 2
      - if @last_page > 2
        = link_to @page, root_path(page: @page - 1)
      = @page + 1
      = link_to @page + 2, root_path(page: @page + 1)
    - elsif @page == @last_page - 1
      - if @last_page > 2
        = link_to @page - 1 , root_path(page: @page - 2)
      = link_to @page , root_path(page: @page - 1)
      = @page + 1
    - else
      = @page + 1
      - if @last_page != 1
        = link_to @page + 2 , root_path(page: @page + 1)
      - if @last_page > 2
        = link_to @page + 3, root_path(page: @page + 2)
    - if @page + 3 < @last_page 
      %span ...  
      = link_to @last_page, root_path(page: @last_page - 1 )
    - if @page != @last_page - 1
      = link_to 'Next >', root_path(page: @page + 1)
