.home-page 
  = render 'shared/nav_bar'
  .home-body
    .title 
      Home
    .new-tweet
      = form_with model: @post, url: user_posts_path(current_user), html: {class: "form-tweet"}, local: true do |f|
        .fields 
          = f.text_area :message, placeholder: "What's happening?" ,class: "message"    
        .submit-button
          = f.submit 'Tweet', class: 'button'

    .list-posts 
      - if @posts.empty?
        .post-field
          No tweets
      - else
        = render partial: 'shared/posts', collection: @posts

      .pagination-home
        = will_paginate @posts

  = render "shared/side_bar"
