%h1 Home Page/ All Posts
= render 'shared/nav_bar'

.new-tweet
  = form_with model: @post, url: user_posts_path(current_user), html: {class: "form-tweet"}, local: true do |f|
    .fields 
      = f.text_area :message    
    .submit-button
      = f.submit 'tweet', class: 'button'

.list-posts 
  - if @parsed_posts.empty?
    No tweets
  - else
    = render partial: 'shared/posts', collection: @parsed_posts

= render 'posts/page'

==========
==========
==========
==========
%h1 Users to follow
- if User.all.count > 1
  = render partial: 'shared/users', collection: User.all
