.tweet-page
  = render 'shared/nav_bar'
  .tweet-body
    .title
      Tweet
    .post-field 
      .avatar-profile 
        = link_to user_path(CheckRetweet.new(@post).get_user), class: "link-profile" do
          = image_tag "avatar_profile.png" , class: "avatar"
      .post-body
        .writter-link
          = link_to CheckRetweet.new(@post).get_user.username, user_path(CheckRetweet.new(@post).get_user), class: "link"
        .message
          = raw @post.message
        .action-body
          .reposting 
            = link_to user_post_repost_path(current_user, @post), method: :patch do
              - if @post.retwit_id == nil && current_user.posts.find_by(retwit_id: @post.id) == nil
                Retweet
              - else 
                Unretweet
          .action
            = link_to 'Show', user_post_path(@post.user, @post)
            - if @post.user == current_user
              = link_to 'Delete', user_post_path(current_user, @post), method: :delete
          - if CheckRetweet.new(@post).is_a_retweet?
            %strong
              Retweeted by: 
              = posts.user.username 
  = render "shared/side_bar"

